{{ form_start(form) }}

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Informations personnelles
                </div>
                <div class="card-body">
                    {{ form_row(form.email) }}

                    <div class="row">
                        <div class="col">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.lastName) }}
                        </div>
                    </div>

                    {{ form_row(form.legalRepresentative) }}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    Adresse
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.address.laneNumber) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.address.laneType) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.address.laneName) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.address.postalCode) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.address.city) }}
                        </div>
                    </div>

                    {{ form_row(form.address.phoneNumber) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}

    <button class="btn btn-primary mt-3">{{ button_label|default('Sauver') }}</button>
{{ form_end(form) }}
