{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav nav-pills nav-justified mb-3 d-xl-none">
        <a class="nav-link{{ 'profile_show' == app.request.get('_route') ? ' active' }}" href="{{ path('profile_show') }}">
            <span class="fas fa-user" aria-hidden="true"></span> Mon profil
        </a>
        <a class="nav-link{{ 'profile_edit_password' == app.request.get('_route') ? ' active' }}" href="{{ path('profile_edit_password') }}">
            <span class="fas fa-key" aria-hidden="true"></span> Modifier mon mot de passe
        </a>
        <a class="nav-link{{ 'profile_edit' == app.request.get('_route') ? ' active' }}" href="{{ path('profile_edit') }}">
            <span class="fas fa-pencil-alt" aria-hidden="true"></span> Modifier mon profil
        </a>
    </nav>

    <div class="row">
        <div class="col-3 d-none d-xl-block">
            <div class="nav flex-column nav-pills" role="tablist">
                <a class="nav-link{{ 'profile_show' == app.request.get('_route') ? ' active' }}" href="{{ path('profile_show') }}">
                    <span class="fas fa-user" aria-hidden="true"></span> Mon profil
                </a>
                <a class="nav-link{{ 'profile_edit_password' == app.request.get('_route') ? ' active' }}" href="{{ path('profile_edit_password') }}">
                    <span class="fas fa-key" aria-hidden="true"></span> Modifier mon mot de passe
                </a>
                <a class="nav-link{{ 'profile_edit' == app.request.get('_route') ? ' active' }}" href="{{ path('profile_edit') }}">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span> Modifier mon profil
                </a>
            </div>
        </div>

        <div class="col-12 col-xl-9">
            {% block main %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
