{% extends 'profile/base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Mon profil</li>
{% endblock %}

{% block main %}
    <h2>Mon profil</h2>

    <ul class="list-group mb-3">
        <li class="list-group-item">
            Nom: {{ app.user.lastName }}
        </li>
        <li class="list-group-item">
            Prénom: {{ app.user.firstName }}
        </li>
        <li class="list-group-item">
            Email: {{ app.user.email ?? '-' }}
        </li>
        <li class="list-group-item">
            Téléphone: {{ app.user.phoneNumber ?? '-' }}
        </li>
    </ul>

    <h2>Mes licences</h2>
    {% if 1 == renew_season.count %}
        {% for season in renew_season %}
            <h3>Inscriptions pour la saison {{ season.name }}</h3>
            <div class="card-deck mb-3 text-center">
                {% for seasonCategory in season.seasonCategories %}
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ seasonCategory.name }}</h4>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h1 class="card-title pricing-card-title">{{ seasonCategory.price }} € <small class="text-muted">/ an</small></h1>
                            {% if seasonCategory.description is not null %}
                                <div class="mt-3 text-left">
                                    {{ seasonCategory.description|markdown_to_html }}
                                </div>
                            {% endif %}
                            <a class="btn btn-lg btn-block btn-outline-primary mt-auto" href="{{ path('renew', {'slug': seasonCategory.slug}) }}">S'inscrire</a>
                        </div>
                    </div>

                    <div class="w-100 d-block d-md-none"><!-- wrap every 1 on xs, sm --></div>
                    {% if 0 == loop.index % 2 %}
                        <div class="w-100 d-none d-md-block d-xl-none"><!-- wrap every 2 on md, lg --></div>
                    {% elseif 0 == loop.index % 3 %}
                        <div class="w-100 d-none d-xl-block"><!-- wrap every 3 on xl--></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <hr>
    {% endif %}

    {% for license in user.licenses %}
        <div class="card mb-3">
            <div class="card-header d-flex">
                <div class="align-self-center">
                    Saison {{ license.seasonCategory.season.name }} ({{ license.seasonCategory.name }})
                </div>

                <div class="ml-auto align-self-center d-flex flex-column">
                    {% for place in workflow_marked_places(license)  -%}
                        <span class="badge badge-pill badge-{{ workflow_metadata(license, 'badge', place) }} {{- not loop.last ? ' mb-1' }}">
                            {{- workflow_metadata(license, 'title', place) -}}
                        </span>
                    {%- endfor %}
                </div>
            </div>
            <div class="card-body">
                {{ (license.medicalCertificate.textType ~ ' ' ~ license.medicalCertificate.textLevel)|capitalize }} du {{ license.medicalCertificate.date|date('d/m/Y') }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
