{% extends 'profile/base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Mon profil</li>
{% endblock %}

{% block main %}
    <h2>Mon profil</h2>

    <ul class="list-group mb-3">
        <li class="list-group-item">
            Nom: {{ app.user.lastName }}
        </li>
        <li class="list-group-item">
            Prénom: {{ app.user.firstName }}
        </li>
        <li class="list-group-item">
            Email: {{ app.user.email ?? '-' }}
        </li>
        <li class="list-group-item">
            Téléphone: {{ app.user.phoneNumber ?? '-' }}
        </li>
    </ul>

    <h2>Mes licences</h2>
    {% if 1 == renew_season.count %}
        {% for season in renew_season %}
            <h3>Inscriptions pour la saison {{ season.name }}</h3>

            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center">
                {% for season_category in season.seasonCategories %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header py-3">
                                <h4 class="my-0 fw-normal">{{ season_category.name }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ season_category.price }} €<small class="text-muted fw-light">/an</small></h1>
                                {% if season_category.description is not null %}
                                    <p class="card-text text-start">{{ season_category.description|markdown_to_html }}</p>
                                {% endif %}
                                <a class="w-100 btn btn-lg btn-outline-primary" href="{{ path('renew', { 'slug': season_category.slug }) }}">
                                    S'inscrire
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <hr>
    {% endif %}

    {% for license in user.licenses %}
        <div class="card mb-3">
            <div class="card-header d-flex">
                <div class="align-self-center">
                    Saison {{ license.seasonCategory.season.name }} ({{ license.seasonCategory.name }})
                </div>

                <div class="ms-auto align-self-center d-flex flex-column">
                    {% for place in workflow_marked_places(license)  -%}
                        <span class="badge rounded-pill bg-{{ workflow_metadata(license, 'badge', place) }} {{- not loop.last ? ' mb-1' }}">
                            {{- workflow_metadata(license, 'title', place) -}}
                        </span>
                    {%- endfor %}
                </div>
            </div>
            <div class="card-body d-flex">
                <div class="flex-grow-1">
                    {{ (license.medicalCertificate.textType ~ ' ' ~ license.medicalCertificate.textLevel)|capitalize }} du {{ license.medicalCertificate.date|date('d/m/Y') }}<br>
                    Option I.A. Sport: {{ license.optionalInsurance ? 'Oui' : 'Non' }}
                </div>

                <div>
                    {% if not license.payments.empty %}
                        <a href="{{ path('payment_attestation_download', { id: license.id }) }}">Attestation de paiement</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
