{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Mon profil</li>
{% endblock %}

{% block body %}
    <div class="d-flex my-3">
        <div>
            <span class="user-profile-picture">{{ user.firstName|slice(0, 1)|upper }}{{ user.lastName|slice(0, 1)|upper }}</span>
        </div>
        <div class="ml-5">
            <h3>{{ user.email }}</h3>

            <div class="btn-group btn-group-sm" role="group">
                <a class="btn btn-secondary" href="{{ path('profile_edit_password') }}">
                    <span class="fas fa-key" aria-hidden="true"></span> Change password
                </a>

                <a class="btn btn-warning" href="{{ path('profile_edit') }}">
                    <span class="fas fa-pencil-alt" aria-hidden="true"></span> Edit
                </a>
            </div>

            <p class="mt-3">Valide jusqu'au {{ user.licenseEndAt|date('d/m/Y') }}</p>
        </div>
    </div>

    <h2>Mes licences</h2>

    {% if 1 == renew_season.count %}
        {% for season in renew_season %}
            <div class="card-deck mb-3 text-center">
                {% for seasonCategory in season.seasonCategories %}
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ seasonCategory.name }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ seasonCategory.price }} € <small class="text-muted">/ an</small></h1>
                            {% if seasonCategory.description is not null %}
                                <div class="mt-3">
                                    {{ seasonCategory.description|nl2br }}
                                </div>
                            {% endif %}
                            <a class="btn btn-lg btn-block btn-outline-primary mt-4" href="{{ path('renew', {'seasonCategory': seasonCategory.id}) }}">S'inscrire</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-6">
            {% for license in user.licenses %}
                <div class="card mt-3">
                    <div class="card-header">
                        Saison {{ license.seasonCategory.season.name }} ({{ license.seasonCategory.name }})
                    </div>
                    <div class="card-body">
                        <p>{{ (license.medicalCertificate.textType ~ ' ' ~ license.medicalCertificate.textLevel)|capitalize }} du {{ license.medicalCertificate.date|date('d/m/Y') }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
