<div class="row">
    <div class="col">
        {{ form_row(form.role) }}
    </div>
    <div class="col">
        {{ form_row(form.firstName) }}
    </div>
    <div class="col">
        {{ form_row(form.lastName) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.email) }}
    </div>
    <div class="col">
        {{ form_row(form.phoneNumber) }}
    </div>
</div>
