{% extends 'admin/base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
    <li class="breadcrumb-item"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.fullName }}</a></li>
    <li class="breadcrumb-item active">Modifier un utilisateur</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Modifier un utilisateur</h1>

        <div class="ml-auto align-self-center">
            {{ include('admin/user/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
