{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Gestion des utilisateurs</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Gestion des utilisateurs</h1>

        <a href="{{ path('user_new') }}" class="btn btn-outline-primary btn-sm ms-auto align-self-center">
            <span class="fas fa-plus"></span> Ajouter un utilisateur
        </a>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            <form method="get">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                    <input type="search" class="form-control" id="q" name="q" placeholder="Rechercher..." value="{{ app.request.query.get('q') }}" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.fullName }}</a>
                            </td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            <td class="text-end">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="btn btn-outline-info btn-sm rounded-pill"
                                       href="{{ path('app_home', {'_switch_user': user.username}) }}">
                                        <span class="fas fa-people-arrows"></span> <span class="d-none d-lg-inline">Impersonate</span>
                                    </a>
                                {% endif %}
                                <a class="btn btn-outline-warning btn-sm rounded-pill"
                                   href="{{ path('user_edit', {'id': user.id}) }}">
                                    <span class="fas fa-pencil-alt"></span> <span class="d-none d-lg-inline">Modifier</span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Pas d'utilisateur</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if users|length < users.totalItemCount %}
                    {{ knp_pagination_render(users) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
