{% extends 'admin/base.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Gestion des membres</a></li>
    <li class="breadcrumb-item active">{{ user.fullName }}</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>{{ user.fullName }}</h1>

        <div class="ms-auto align-self-center ">
            {% embed 'admin/user/_delete_form.html.twig' %}
                {% block buttons %}
                    <div class="btn-group-sm">
                        <a class="btn btn-outline-warning" href="{{ path('user_edit', {'id': user.id}) }}">
                            <span class="fas fa-pencil-alt"></span> Modifier
                        </a>

                        {{ parent() }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            <div>Date d'inscription: {{ user.subscriptionDate|date('d/m/Y') }}</div>
            <div class="mb-3">Nom d'utilisateur: {{ user.username }}</div>

            <div class="row">
                <div class="col-xl">
                    <div class="card">
                        <div class="card-header">
                            Membre
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Genre
                                <span>{{ user.textGender }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Nom
                                <span>{{ user.fullName }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Date de naissance
                                <span>{{ user.birthday|date('d/m/Y') }} ({{ user.age }} ans)</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Numéro de licence
                                <span>{{ user.licenseNumber ?? '-' }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl mt-3 mt-xl-0">
                    <div class="card">
                        <div class="card-header">
                            Contact
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Email
                                <span>{{ user.email }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Numéro de téléphone
                                <span>{{ user.phoneNumber }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Adresse
                                <span>{{ user.formattedAddress|nl2br }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xl">
                    <div class="card">
                        <div class="card-header">
                            Responsable légal 1
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Rôle
                                <span>{{ user.firstLegalGuardian ? user.firstLegalGuardian.role.label : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Prénom
                                <span>{{ user.firstLegalGuardian ? user.firstLegalGuardian.firstName : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Nom
                                <span>{{ user.firstLegalGuardian ? user.firstLegalGuardian.lastName : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Email
                                <span>{{ user.firstLegalGuardian ? user.firstLegalGuardian.email : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Numéro de téléphone
                                <span>{{ user.firstLegalGuardian ? user.firstLegalGuardian.phoneNumber : '-' }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xl mt-3 mt-xl-0">
                    <div class="card">
                        <div class="card-header">
                            Responsable légal 2
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                Rôle
                                <span>{{ user.firstLegalGuardian ? user.secondLegalGuardian.role.label : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Prénom
                                <span>{{ user.firstLegalGuardian ? user.secondLegalGuardian.firstName : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Nom
                                <span>{{ user.firstLegalGuardian ? user.secondLegalGuardian.lastName : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Email
                                <span>{{ user.firstLegalGuardian ? user.secondLegalGuardian.email : '-' }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                Numéro de téléphone
                                <span>{{ user.firstLegalGuardian ? user.secondLegalGuardian.phoneNumber : '-' }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    Licences
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped mb-0">
                        <thead>
                        <tr>
                            <th>Saison</th>
                            <th>Type</th>
                            <th>Niveau</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for license in user.licenses %}
                            <tr>
                                <td>{{ license.seasonCategory.season.name }} - {{ license.seasonCategory.name }}</td>
                                <td>{{ license.medicalCertificate.textType }}</td>
                                <td>{{ license.medicalCertificate.textLevel }}</td>
                                <td>
                                    {% for place in workflow_marked_places(license)  %}
                                        <div>
                                            <span class="badge rounded-pill bg-{{ workflow_metadata(license, 'badge', place) }}">
                                                {{ workflow_metadata(license, 'title', place) }}
                                            </span>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="3">Pas de licence</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    Groupes
                </div>
                <ul class="list-group list-group-flush">
                    {% for group in user.groups %}
                        <li class="list-group-item">
                            <a href="{{ path('group_show', { 'id': group.id }) }}">{{ group.name }}</a>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            Pas de groupe
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
