{% extends 'base_secondary.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger d-flex">
                <div class="align-self-center">
                    <span class="fas fa-2x fa-exclamation-circle"></span>
                </div>
                <div class="align-self-center ml-3">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="form-label-group">
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Utilisateur" required autofocus>
            <label for="inputUsername">Utilisateur</label>
        </div>

        <div class="form-label-group">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
            <label for="inputPassword">Mot de passe</label>
        </div>

        <div class="custom-control custom-switch mb-3">
            <input type="checkbox" class="custom-control-input" id="inputRememberMe" name="_remember_me">
            <label class="custom-control-label" for="inputRememberMe">Se souvenir de moi</label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
    </form>

    <p class="mt-3">
        <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
    </p>
{% endblock %}
