{% extends 'base.html.twig' %}
{% set appMenuAutoOpen = false %}

{% block title %}Inscription à Aviron Tours{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Inscription à Aviron Tours</li>
{% endblock %}

{% block body %}
    <h1>M'inscrire à l'Aviron Tours Métropole</h1>

    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="text-center">Je suis déjà membre</h2>
                    <hr>
                    <p class="lead">
                        Je suis déjà inscrit au club d'Aviron Tours Métropole, je possède un compte: je gère mes
                        réinscriptions depuis <span class="fw-bold">mon profil utilisateur</span>.
                    </p>
                    <div class="d-grid">
                        <a class="btn btn-primary" href="{{ path('profile_show') }}">Je vais sur mon profil</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mb-3">
            <div class="card border border-primary shadow">
                <div class="card-body">
                    <h2 class="text-center">C'est une première inscription</h2>
                    <hr>

                    <div {{ stimulus_controller('dependent-field') }}>
                        {{ form_start(form) }}
                            {{ form_errors(form) }}

                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            Membre
                                        </div>
                                        <div class="card-body">
                                            {{ form_row(form.gender) }}
                                            <div class="row">
                                                <div class="col">
                                                    {{ form_row(form.firstName) }}
                                                </div>
                                                <div class="col">
                                                    {{ form_row(form.lastName) }}
                                                </div>
                                            </div>
                                            {{ form_row(form.email) }}
                                            {{ form_row(form.phoneNumber) }}
                                            {{ form_row(form.plainPassword) }}
                                            {{ form_row(form.birthday) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            Adresse
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    {{ form_row(form.laneNumber) }}
                                                </div>
                                                <div class="col">
                                                    {{ form_row(form.laneType) }}
                                                </div>
                                                <div class="col">
                                                    {{ form_row(form.laneName) }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    {{ form_row(form.postalCode, { attr: { 'data-action': 'dependent-field#keyup' } }) }}
                                                </div>
                                                <div id="city-target" class="col" {{ stimulus_target('dependent-field', 'target') }}>
                                                    {{ form_row(form.city) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mt-3">
                                        <div class="card-header">
                                            Certificat médical
                                        </div>
                                        <div class="card-body">
                                            <div class="alert alert-info" role="alert">
                                                <span class="fas fa-info-circle"></span>
                                                Document à fournir:
                                                <ul>
                                                    <li><u>Mineur</u>: certificat médical de moins d'un an, ou <span class="fw-bold">attestation</span> QS sport</li>
                                                    <li><u>Majeur</u>: certificat médical de moins d'un an. Les attestation QS sport ne sont valables que lors du renouvellement d'une licence au sein du club.</li>
                                                </ul>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="{{ asset('files/qs-sport-mineurs.pdf') }}">
                                                        <span class="far fa-file-pdf"></span> Questionnaire santé pour personnes mineurs
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ asset('files/attestation-qs-sport.pdf') }}">
                                                        <span class="far fa-file-pdf"></span> Attestation questionnaire santé
                                                    </a>
                                                </li>
                                            </ul>

                                            {{ form_row(form.medicalCertificate) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            Responsable légal 1
                                        </div>
                                        <div class="card-body">
                                            {% include 'admin/user/_legal_guardian_form.html.twig' with { 'form': form.firstLegalGuardian } %}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 mb-3">
                                    <div class="card">
                                        <div class="card-header">
                                            Responsable légal 2
                                        </div>
                                        <div class="card-body">
                                            {% include 'admin/user/_legal_guardian_form.html.twig' with { 'form': form.secondLegalGuardian } %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-3">
                                {{ form_row(form.clubEmailAllowed) }}
                                {{ form_row(form.federationEmailAllowed) }}
                                {{ form_row(form.optionalInsurance, {
                                    'help': '<a href="'~ asset('files/maif-assurance-accidents-corporels-licencies-titre-initiation-2024.pdf') ~'">Télécharger la notice</a>',
                                    'help_html': true,
                                }) }}
                                {{ form_row(form.agreeSwim) }}
                            </div>

                            <button class="btn btn-primary mt-3">S'inscrire</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
