{% extends 'base.html.twig' %}
{% set appMenuAutoOpen = false %}

{% block title %}Inscription à Aviron Tours{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Inscription à Aviron Tours</li>
{% endblock %}

{% block body %}
    <h1>M'inscrire à l'Aviron Tours Métropole</h1>

    <div class="row">
        <div class="col-lg-4 mb-3">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <h2 class="text-center">Je suis déjà membre</h2>
                    <hr>
                    <p class="lead">
                        Je suis déjà inscrit au club d'Aviron Tours Métropole, je possède un compte: je gère mes
                        réinscriptions depuis <span class="fw-bold">mon profil utilisateur</span>.
                    </p>
                    <div class="d-grid">
                        <a class="btn btn-primary" href="{{ path('profile_show') }}">Je vais sur mon profil</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 mb-3">
            <div class="card border border-primary shadow">
                <div class="card-body">
                    <h2 class="text-center">C'est une première inscription</h2>
                    <hr>

                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-xl">
                            <div class="card">
                                <div class="card-header">
                                    Membre
                                </div>
                                <div class="card-body">
                                    {{ form_row(form.gender) }}
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(form.firstName) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(form.lastName) }}
                                        </div>
                                    </div>
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.phoneNumber) }}
                                    {{ form_row(form.plainPassword) }}
                                    {{ form_row(form.birthday) }}
                                </div>
                            </div>
                        </div>

                        <div class="col-xl mt-3 mt-xl-0">
                            <div class="card">
                                <div class="card-header">
                                    Adresse
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(form.address.laneNumber) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(form.address.laneType) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(form.address.laneName) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ form_row(form.address.postalCode) }}
                                        </div>
                                        <div class="col">
                                            {{ form_row(form.address.city) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header">
                                    Certificat médical
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="alert alert-info" role="alert">
                                            <span class="fas fa-info-circle"></span>
                                            Document à fournir:
                                            <ul>
                                                <li><u>Mineur</u>: certificat médical, ou <span class="fw-bold">attestation</span> QS sport</li>
                                                <li><u>Majeur</u>: certificat médical de moins d'un an. Les questionnaires santés ne sont valables que lors du renouvellement de licence au sein du club.</li>
                                            </ul>
                                        </div>

                                        <ul>
                                            <li>
                                                <a href="{{ asset('files/qs-sport-mineurs.pdf') }}">
                                                    <span class="far fa-file-pdf"></span> Questionnaire santé pour personnes mineurs
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ asset('files/attestation-qs-sport.pdf') }}">
                                                    <span class="far fa-file-pdf"></span> Attestation questionnaire santé
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    {{ form_row(form.medicalCertificate) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        {{ form_row(form.federationEmailAllowed) }}
                        {{ form_row(form.clubEmailAllowed) }}
                        {{ form_row(form.partnersEmailAllowed) }}
                    </div>

                    <div class="mt-3">
                        {{ form_row(form.agreeSwim) }}
                    </div>

                    <button class="btn btn-primary mt-3">{{ button_label|default('Sauver') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
