{% extends 'base.html.twig' %}

{% block title %}Inscription à Aviron Tours{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Inscription à Aviron Tours</li>
{% endblock %}

{% block body %}
    <h1>Inscription à Aviron Tours</h1>

    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-xl">
                <div class="card">
                    <div class="card-header">
                        Membre
                    </div>
                    <div class="card-body">
                        {{ form_row(registrationForm.gender) }}
                        <div class="row">
                            <div class="col">
                                {{ form_row(registrationForm.firstName) }}
                            </div>
                            <div class="col">
                                {{ form_row(registrationForm.lastName) }}
                            </div>
                        </div>
                        {{ form_row(registrationForm.email) }}
                        {% if registrationForm.plainPassword is defined%}
                            {{ form_row(registrationForm.plainPassword) }}
                        {% endif %}
                        {% if registrationForm.roles is defined%}
                            {{ form_row(registrationForm.roles) }}
                        {% endif %}
                        {{ form_row(registrationForm.birthday) }}
                        {{ form_row(registrationForm.legalRepresentative) }}
                    </div>
                </div>
            </div>

            <div class="col-xl mt-3 mt-xl-0">
                <div class="card">
                    <div class="card-header">
                        Adresse
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                {{ form_row(registrationForm.address.laneNumber) }}
                            </div>
                            <div class="col">
                                {{ form_row(registrationForm.address.laneType) }}
                            </div>
                            <div class="col">
                                {{ form_row(registrationForm.address.laneName) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form_row(registrationForm.address.postalCode) }}
                            </div>
                            <div class="col">
                                {{ form_row(registrationForm.address.city) }}
                            </div>
                        </div>

                        {{ form_row(registrationForm.address.phoneNumber) }}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-header">
                        Certificat médical
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info" role="alert">
                            <span class="fas fa-info-circle"></span> Le document à fournir lors de l'inscription doit
                            être un <b>certificat médical</b> d'aptitude à la pratique de l'aviron de moins de 3 mois.
                            Les questionnaires santés ne sont valables que lors du renouvellement de licence au sein du
                            club.
                        </div>

                        {{ form_row(registrationForm.medicalCertificate) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3">
            {{ form_row(registrationForm.agreeSwim) }}
        </div>

        <button class="btn btn-primary mt-3">{{ button_label|default('Sauver') }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
