{% extends 'base.html.twig' %}

{% block title %}Réinscription à Aviron Tours{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active"><a href="{{ path('profile_show') }}">Mon profil</a></li>
    <li class="breadcrumb-item active">Réinscription à Aviron Tours</li>
{% endblock %}

{% block body %}
    <h1>Réinscription pour la saison {{ season_category.season.name }} - {{ season_category.name }}</h1>

    <div class="card border-0 shadow mt-3">
        <div class="card-body">
            {{ include('registration/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
