{% extends 'admin/base.html.twig' %}

{% block title %}Validation des certificats médicaux de la saison {{ season.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('season_index') }}">Gestion des saisons</a></li>
    <li class="breadcrumb-item"><a href="{{ path('season_show', { 'id': season.id }) }}">{{ season.name }}</a></li>
    <li class="breadcrumb-item active">Validation des certificats médicaux de la saison {{ season.name }}</li>
{% endblock %}

{% block body %}
    <h1>Validation des certificats médicaux de la saison {{ season.name }}</h1>

    <div class="card border-0 shadow">
        <div class="card-body">
            {% if license is not null %}
                <div class="row">
                    <div class="col-lg-8">
                        {% if license.medicalCertificate.uploadedFile.mimeType|u.containsAny('image/') %}
                            <img src="{{ path('medical_certificate_download', { 'id': license.medicalCertificate.id }) }}" alt="Certificat médical" class="img-fluid">
                        {% else %}
                            <object data="{{ path('medical_certificate_download', { 'id': license.medicalCertificate.id }) }}" type="application/pdf" class="w-100 vh-100">Certificat médical</object>
                        {% endif %}
                    </div>

                    <div class="col-lg-4 mt-3 mt-lg-0">
                        <div class="card">
                            <div class="card-header">
                                Informations membre
                            </div>

                            <div class="card-body">
                                Nom Prénom : {{ license.user.fullName }}<br>
                                Date de naissance: {{ license.user.birthday|date('d/m/Y') }} ({{ license.user.age }} ans)
                            </div>
                        </div>

                        {% for previous_licence in previous_licences %}
                            <div class="card mt-3">
                                <div class="card-header">
                                    Saison {{ previous_licence.seasonCategory.season.name }}
                                </div>

                                <div class="card-body">
                                    Date du certificat: {{ previous_licence.medicalCertificate.date|date('d/m/Y') }}<br>
                                    Type de certificat : {{ previous_licence.medicalCertificate.type.label }}<br>
                                    Niveau de certificat: {{ previous_licence.medicalCertificate.level.label }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="card border-primary mt-3">
                            <div class="card-header bg-primary text-white d-flex">
                                Saison {{ license.seasonCategory.season.name }}

                                <a href="{{ path('license_edit', { 'seasonId': license.seasonCategory.season.id, id: license.id }) }}" class="btn btn-warning btn-sm rounded-pill ms-auto align-self-center">
                                    <span class="fas fa-pencil-alt"></span>
                                </a>
                            </div>

                            <div class="card-body">
                                Date du certificat: {{ license.medicalCertificate.date|date('d/m/Y') }}<br>
                                Type de certificat : {{ license.medicalCertificate.type.label }}<br>
                                Niveau de certificat: {{ license.medicalCertificate.level.label }}
                            </div>
                        </div>

                        <div class="mt-3">
                            <div class="btn-group-vertical btn-group-sm w-100" role="group">
                                {% if workflow_can(license, 'validate_medical_certificate') %}
                                    <a class="btn btn-primary" href="{{ path('license_medical_certificate_action', { seasonId: season.id, id: license.id, transitionName: 'validate', _token: csrf_token('license-medical-certificate-action') }) }}">
                                        Valider le certificat médical
                                    </a>
                                {% endif %}

                                {% if workflow_can(license, 'reject_medical_certificate') %}
                                    <a class="btn btn-warning" href="{{ path('license_medical_certificate_action', { seasonId: season.id, id: license.id, transitionName: 'reject', _token: csrf_token('license-medical-certificate-action') }) }}">
                                        Rejeter le certificat médical
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    <span class="fas fa-info-circle"></span> Il n'y a pas de license à valider.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
