{% extends 'admin/base.html.twig' %}
{% form_theme form 'admin/license/_form_theme.html.twig' %}


{% block title %}Valider un paiement{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Gestion des saisons</a></li>
    <li class="breadcrumb-item"><a href="{{ path('season_show', { 'id': license.seasonCategory.season.id }) }}">{{ license.seasonCategory.season.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('user_show', { 'id': license.user.id }) }}">{{ license.user.fullName }}</a></li>
    <li class="breadcrumb-item active">Valider un paiement</li>
{% endblock %}

{% block body %}
    <h1>Valider le paiement de {{ license.user.fullName }}</h1>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ include('admin/license/_form.html.twig', {'button_label': 'Valider le paiement'}) }}
        </div>
    </div>
{% endblock %}
