{% extends 'base.html.twig' %}

{% block nav %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('shell_damage_index') }}">Avaries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('shell_damage_category_index') }}">Catégories d'avaries</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('shell_index') }}">Parc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_index') }}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('season_index') }}">Saisons</a>
        </li>
    </ul>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active"><a href="{{ path('club_management_homepage') }}">Gestion du club</a></li>
{% endblock %}
