{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <span class="h3">Mes sorties</span>
                </div>
                <div class="card-body">
                    <canvas
                        id="logbookChart"
                        data-labels="{{ logbook_stats|map(value => "#{value.month}")|json_encode|e('html_attr') }}"
                        data-distances="{{ logbook_stats|map(value => "#{value.distance}")|json_encode|e('html_attr') }}"
                        data-sessions="{{ logbook_stats|map(value => "#{value.sessions}")|json_encode|e('html_attr') }}"
                    ></canvas>
                </div>
            </div>
        </div>

        {% if app.user.physiology is not null %}
            <div class="col-lg-6 mt-lg-0 mt-3">
                <div class="card">
                    <div class="card-header">
                        <span class="h3">Ma physiologie</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between">
                            B1 - UT1
                            <span>{{ app.user.physiology.heavyAerobicHeartRate ?? '-' }} bpm</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            B2 - AT
                            <span>{{ app.user.physiology.anaerobicThresholdHeartRate ?? '-' }} bpm</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            FCmax
                            <span>{{ app.user.physiology.maximumHeartRate ?? '-' }} bpm</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            VO2max
                            <span>{{ app.user.physiology.maximumOxygenConsumption ?? '-' }} ml/min/kg</span>
                        </li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}
