{% extends 'admin/base.html.twig' %}

{% block title %}Suivi des entraînements{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Suivi des entraînements</li>
{% endblock %}

{% block body %}
    <div class="card border-0 shadow">
        <div class="card-body">
            <form class="row gx-3 gy-2 align-items-center mb-3" method="get">
                <div class="col-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text" id="from-addon"><span class="fa fa-calendar-alt"></span></span>
                        <input type="date" class="form-control" id="from" name="from"  value="{{ from|date('Y-m-d') }}" max="{{ date('-1 day')|date('Y-m-d') }}" aria-label="Du" aria-describedby="from-addon">
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text" id="to-addon"><span class="fa fa-calendar-alt"></span></span>
                        <input type="date" class="form-control" id="to" name="to"  value="{{ to|date('Y-m-d') }}" max="{{ date('now')|date('Y-m-d') }}" aria-label="Au" aria-describedby="to-addon">
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="input-group">
                        <span class="input-group-text" id="group-addon"><span class="fa fa-users"></span></span>
                        <select class="form-select" id="group" name="group" aria-label="Groupe" aria-describedby="group-addon">
                            <option value="" selected>Tout les groupes</option>
                            {% for groupChoice in groups %}
                                <option value="{{ groupChoice.id }}" {{ groupChoice == group ? 'selected' }}>{{ groupChoice.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-6 col-md-3">
                    <div class="input-group">
                        <input type="search" class="form-control" id="q" name="q" placeholder="Rechercher..." value="{{ app.request.query.get('q') }}" aria-label="Username" aria-describedby="submit-addon">
                        <button type="submit" class="btn btn-primary" id="submit-addon"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Membre</th>
                        <th>Nombre de séances</th>
                        <th>Distance</th>
                        <th>Aérobie</th>
                        <th>Transition aérobie/anaérobie</th>
                        <th>Anaérobie lactique</th>
                        <th>Anaérobie alactique</th>
                        <th>Sensation</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.fullname }}</td>
                            <td>{{ user.trainings|length }}</td>
                            <td>
                                {% set sum = 0 %}
                                {% for training in user.trainings %}
                                    {% if training.distance is not null and (constant('App\\Entity\\Training::SPORT_ROWING') == training.sport or constant('App\\Entity\\Training::SPORT_ERGOMETER') == training.sport) %}
                                        {% set sum = sum + training.distance %}
                                    {% endif %}
                                {% endfor %}

                                {{ sum }} km
                            </td>
                            <td>
                                {{ (user.trainingsDuration(constant('App\\Entity\\Training::ENERGY_PATHWAY_AEROBIC')) / user.trainingsDuration * 100)|round}}%
                            </td>
                            <td>
                                {{ (user.trainingsDuration(constant('App\\Entity\\Training::ENERGY_PATHWAY_THRESHOLD')) / user.trainingsDuration * 100)|round}}%
                            </td>
                            <td>
                                {{ (user.trainingsDuration(constant('App\\Entity\\Training::ENERGY_PATHWAY_LACTIC_ANAEROBIC')) / user.trainingsDuration * 100)|round}}%
                            </td>
                            <td>
                                {{ (user.trainingsDuration(constant('App\\Entity\\Training::ENERGY_PATHWAY_ALACTIC_ANAEROBIC')) / user.trainingsDuration * 100)|round}}%
                            </td>
                            <td>
                                {% set feeling = user.trainingsFeeling %}
                                <div class="progress">
                                    <div class="progress-bar {{ feeling < 0.4 ? 'bg-danger' : 'bg-success' }}" role="progressbar" style="width: {{ feeling * 100 }}%" aria-valuenow="{{ feeling * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">Pas d'entraînement</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
