{% extends 'admin/base.html.twig' %}

{% block title %}Mes entraînements de {{ user.fullname }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('admin_training_index') }}">Suivi des entraînements</a></li>
    <li class="breadcrumb-item active">{{ user.fullname }}</li>
{% endblock %}

{% block body %}
    <h1>Mes entraînements de {{ user.fullname }}</h1>

    {% if trainingsSportsChart is not null %}
        <div class="card border-0 shadow mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <span class="h4">Répartition des sports</span>
                        {{ render_chart(trainingsSportsChart) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Sport</th>
                        <th>Type d'entraînement</th>
                        <th>Durée</th>
                        <th>Distance</th>
                        <th>Commentaire</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for training in trainings %}
                        <tr>
                            <td>{{ training.trainedAt|date('d/m/Y - H:i') }}</td>
                            <td>
                                <a href="{{ path('admin_training_show', { user_id: user.id, id: training.id }) }}">{{ training.sport.label }}</a>
                            </td>
                            <td>{{ training.textType ?? '-' }}</td>
                            <td>{{ training.formattedDuration }}</td>
                            <td>{{ training.distance ? training.distance|format_number : '-' }} km</td>
                            <td>{{ training.comment|u.truncate(25, '...') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Pas d'entraînements</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if trainings|length < trainings.totalItemCount %}
                    {{ knp_pagination_render(trainings) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
