{% extends 'admin/base.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fas fa-home"></span> Accueil</a></li>
    <li class="breadcrumb-item active">Administration</li>
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_MATERIAL_ADMIN') %}
        <div class="card border-0 shadow mb-3">
            <div class="card-body">
                <span class="h4">Gestion du matériel</span>
                <div class="app-list d-flex flex-wrap">
                    <a href="{{ path('shell_damage_index') }}">
                        <div class="card h-75 m-3" style="width: 15rem;">
                            <div class="card-body text-center">
                                <span class="fas fa-tools fa-6x mb-3 text-secondary"></span>
                                <h4 class="card-title">Avaries</h4>
                            </div>
                        </div>
                    </a>

                    <a href="{{ path('shell_index') }}">
                        <div class="card h-75 m-3" style="width: 15rem;">
                            <div class="card-body text-center">
                                <span class="fas fa-ship fa-6x mb-3 text-secondary"></span>
                                <h4 class="card-title">Parc</h4>
                            </div>
                        </div>
                    </a>

                    <a href="{{ path('shell_damage_category_index') }}">
                        <div class="card h-75 m-3" style="width: 15rem;">
                            <div class="card-body text-center">
                                <span class="fas fa-tags fa-6x mb-3 text-secondary"></span>
                                <h4 class="card-title">Catégories d'avaries</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_SPORT_ADMIN') %}
        <div class="card border-0 shadow mb-3">
            <div class="card-body">
                <span class="h4">Gestion sport</span>
                <div class="app-list d-flex flex-wrap">
                    <a href="{{ path('sports_profile_index') }}">
                        <div class="card h-75 m-3" style="width: 15rem;">
                            <div class="card-body text-center">
                                <span class="fas fa-running fa-6x mb-3 text-secondary"></span>
                                <h4 class="card-title">Profils sportifs</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER_ADMIN') %}
        <div class="card border-0 shadow mb-3">
            <div class="card-body">
                <span class="h4">Gestion des membres et saisons</span>
                <div class="app-list d-flex flex-wrap">
                    <a href="{{ path('user_index') }}">
                        <div class="card h-75 m-3" style="width: 15rem;">
                            <div class="card-body text-center">
                                <span class="fas fa-users fa-6x mb-3 text-secondary"></span>
                                <h4 class="card-title">Utilisateurs</h4>
                            </div>
                        </div>
                    </a>

                    <a href="{{ path('season_index') }}">
                        <div class="card h-75 m-3" style="width: 15rem;">
                            <div class="card-body text-center">
                                <span class="fas fa-calendar fa-6x mb-3 text-secondary"></span>
                                <h4 class="card-title">Saisons</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
