{% extends 'admin/base.html.twig' %}
{% form_theme form 'admin/season/_form_theme.html.twig' %}

{% block title %}Modifier une saison{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('season_index') }}">Gestion des saisons</a></li>
    <li class="breadcrumb-item"><a href="{{ path('season_show', { 'id': season.id }) }}">{{ season.name }}</a></li>
    <li class="breadcrumb-item active">Modifier</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Modifier une saison</h1>

        <div class="ms-auto align-self-center">
            {{ include('admin/season/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ include('admin/season/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
