{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des saisons{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Gestion des saisons</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Gestion des saisons</h1>

        {% if is_granted('ROLE_SEASON_ADMIN') %}
            <a href="{{ path('season_new') }}" class="btn btn-outline-primary btn-sm ms-auto align-self-center">
                <span class="fas fa-plus"></span> Ajouter une saison
            </a>
        {% endif %}
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Active</th>
                        <th>Inscriptions</th>
                        {% if is_granted('ROLE_SEASON_ADMIN') %}
                            <th></th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for season in seasons %}
                        <tr>
                            <td><a href="{{ path('season_show', { 'id': season.id }) }}">{{ season.name }}</a></td>
                            <td>
                                {% if season.active %}
                                    <span class="badge rounded-pill bg-success">Active</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-danger">Inactive</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if season.subscriptionEnabled %}
                                    <span class="badge rounded-pill bg-success">Ouvertes</span>
                                {% else %}
                                    <span class="badge rounded-pill bg-danger">Fermées</span>
                                {% endif %}
                            </td>
                            {% if is_granted('ROLE_SEASON_ADMIN') %}
                                <td class="text-end">
                                    <a class="btn btn-outline-warning btn-sm rounded-pill"
                                       href="{{ path('season_edit', {'id': season.id}) }}">
                                        <span class="fas fa-pencil-alt"></span> <span class="d-none d-lg-inline">Modifier</span>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="{{ is_granted('ROLE_SEASON_ADMIN') ? '4' : '3' }}" class="text-center">Pas  de catégorie</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
