{% extends 'admin/base.html.twig' %}
{% form_theme form _self %}

{% block _season_seasonCategories_entry_widget %}
    <div class="row">
        <div class="col">
            {{ form_row(form.children.name) }}
        </div>
        <div class="col">
            {{ form_row(form.children.price) }}
        </div>
        <div class="col">
            {{ form_row(form.children.licenseType) }}
        </div>
        <div class="col">
            {{ form_row(form.children.description) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('season_form')}}
{% endblock %}

{% block title %}Ajouter une saison{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('season_index') }}">Gestion des saisons</a></li>
    <li class="breadcrumb-item active">Ajouter une saison</li>
{% endblock %}

{% block body %}
    <h1>Ajouter une saison</h1>

    {{ include('admin/season/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('season_form') }}
{% endblock %}
