{% extends 'admin/base.html.twig' %}

{% block title %}{{ season.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('season_index') }}">Gestion des saisons</a></li>
    <li class="breadcrumb-item active">{{ season.name }}</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>{{ season.name }}</h1>

        {% if is_granted('ROLE_SEASON_ADMIN') %}
            <div class="ms-auto align-self-center ">
                {% embed 'admin/season/_delete_form.html.twig' %}
                    {% block buttons %}
                        <div class="btn-group-sm">
                            <a class="btn btn-outline-warning" href="{{ path('season_edit', {'id': season.id}) }}">
                                <span class="fas fa-pencil-alt"></span> Modifier
                            </a>

                            {{ parent() }}
                        </div>
                    {% endblock %}
                {% endembed %}
            </div>
        {% endif %}
    </div>

    <div class="card border-0 shadow mb-3">
        <div class="accordion" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingCategories">
                    <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
                        Catégories
                    </button>
                </h2>
                <div id="collapseCategories" class="accordion-collapse collapse" aria-labelledby="headingCategories" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Type de licence</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in season.seasonCategories %}
                                    <tr>
                                        <td>{{ category.name }}</td>
                                        <td>{{ category.price }} €</td>
                                        <td>{{ category.textLicenseType }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingStatistics">
                    <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatistics" aria-expanded="false" aria-controls="collapseStatistics">
                        Statistiques
                    </button>
                </h2>
                <div id="collapseStatistics" class="accordion-collapse collapse" aria-labelledby="headingStatistics" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Attente de paiement et certificat médical</td>
                                    <td>{{ statistics.waitAll }}</td>
                                </tr>
                                <tr>
                                    <td>Attente de paiement</td>
                                    <td>{{ statistics.waitPaymentValidation }}</td>
                                </tr>
                                <tr>
                                    <td>Attente de certificat médical</td>
                                    <td>{{ statistics.waitMedicalCertificateValidation }}</td>
                                </tr>
                                <tr>
                                    <td>Attente de validation fédéral</td>
                                    <td>{{ statistics.waitValidation }}</td>
                                </tr>
                                <tr>
                                    <td>Certificat médical rejeté</td>
                                    <td>{{ statistics.medicalCertificateRejected }}</td>
                                </tr>
                                <tr>
                                    <td>Validé</td>
                                    <td>{{ statistics.validated }}</td>
                                </tr>
                                <tr>
                                    <td>Total Licences</td>
                                    <td>{{ statistics.total }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow mb-3">
        <div class="card-body">
            <div class="card mt-3">
                <div class="card-header d-flex">
                    <span class="h5 align-self-center">Licences</span>

                    <a href="{{ path('license_new', { 'seasonId': season.id }) }}" class="btn btn-outline-primary btn-sm ms-auto align-self-center">
                        <span class="fas fa-plus"></span> Ajouter une licence
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="btn-group btn-group-sm">
                                {% if is_granted('ROLE_SEASON_MEDICAL_CERTIFICATE_ADMIN') %}
                                    <a class="btn btn-outline-success" href="{{ path('license_validate_medical_certificate', { 'seasonId': season.id }) }}">
                                        <span class="fas fa-file-medical-alt"></span> Valider les certificats
                                    </a>
                                {% endif %}

                                {% if is_granted('ROLE_SEASON_ADMIN') or is_granted('ROLE_SEASON_PAYMENTS_ADMIN') %}
                                    <button type="button" class="btn btn-outline-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="fas fa-file-export"></span> Exporter
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% if is_granted('ROLE_SEASON_PAYMENTS_ADMIN') %}
                                            <li><a class="dropdown-item" href="{{ path('season_export_payments', { 'id': season.id }) }}">Paiements</a></li>
                                        {% endif %}

                                        {% if is_granted('ROLE_SEASON_ADMIN') %}
                                            <li><a class="dropdown-item" href="{{ path('season_export_contact', { 'id': season.id }) }}">Contacts</a></li>
                                            <li><a class="dropdown-item" href="{{ path('season_export_license', { 'id': season.id }) }}">Licences</a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-12 col-md-6 mt-3 mt-md-0">
                            <form method="get" class="ms-auto">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                                    <input type="search" class="form-control" id="q" name="q" placeholder="Rechercher..." value="{{ app.request.query.get('q') }}" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive mt-3">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Level</th>
                                <th>Status de la licence</th>
                                {% if is_granted('ROLE_SEASON_MEDICAL_CERTIFICATE_ADMIN') %}
                                    <th>Certificat</th>
                                {% endif %}
                                <th>Option I.A.</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for license in licenses %}
                                <tr>
                                    <td>
                                        {% if is_granted('ROLE_USER_ADMIN') %}
                                            <a href="{{ path('user_show', {'id': license.user.id}) }}">{{ license.user.fullName }}</a>
                                        {% else %}
                                            {{ license.user.fullName }}
                                        {% endif %}
                                    </td>
                                    <td>{{ license.medicalCertificate.textType }}</td>
                                    <td>{{ license.medicalCertificate.textLevel }}</td>
                                    <td>
                                        {% for place in workflow_marked_places(license)  %}
                                            <div>
                                                <span class="badge rounded-pill bg-{{ workflow_metadata(license, 'badge', place) }}">
                                                    {{ workflow_metadata(license, 'title', place) }}
                                                </span>
                                            </div>
                                        {% endfor %}
                                    </td>
                                    {% if is_granted('ROLE_SEASON_MEDICAL_CERTIFICATE_ADMIN') %}
                                        <td>
                                            <a href="{{ path('medical_certificate_download', {'id': license.medicalCertificate.id}) }}" data-turbo="false">
                                                <span class="far fa-file-pdf"></span> Certificat
                                            </a>
                                        </td>
                                    {% endif %}
                                    <td>{{ license.optionalInsurance ? 'Oui' : 'Non' }}</td>
                                    <td>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <div class="btn-group-vertical btn-group-sm me-3" role="group">
                                                {% if workflow_can(license, 'unreject_medical_certificate') %}
                                                    <a class="btn btn-danger" href="{{ path('license_medical_certificate_action', { seasonId: season.id, id: license.id, transitionName: 'unreject', _token: csrf_token('license-medical-certificate-action') }) }}">
                                                        Passer le certificat en attente de validation
                                                    </a>
                                                {% endif %}

                                                {% if workflow_can(license, 'validate_payment') %}
                                                    <a class="btn btn-primary" href="{{ path('license_validate_payment', { seasonId: season.id, id: license.id }) }}">
                                                        Valider le paiement
                                                    </a>
                                                {% endif %}

                                                {% if workflow_can(license, 'validate_license') %}
                                                    <a class="btn btn-primary" href="{{ path('license_validate', { seasonId: season.id, id: license.id, _token: csrf_token('license-validate') }) }}">
                                                        Valider la licence
                                                    </a>
                                                {% endif %}
                                            </div>

                                            <a class="btn btn-outline-warning btn-sm rounded-pill"
                                               href="{{ path('license_edit', {'seasonId': license.seasonCategory.season.id, 'id': license.id}) }}">
                                                <span class="fas fa-pencil-alt"></span> <span class="d-none d-lg-inline">Modifier</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="7" class="text-center">Pas de licence</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if licenses|length < licenses.totalItemCount %}
                            {{ knp_pagination_render(licenses) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
