{% extends 'emails/base.html.twig' %}

{% block body %}
    <container>
        <row>
            <columns>
                <p>
                    Bonjour {{ fullName }},<br/>
                    Le club Aviron Tours Métropole vous souhaite la bienvenue et vous remercie de votre inscription.
                </p>

                <p>
                    Vous pouvez vous connecter à votre espace personnel sur <a href="{{ url('homepage') }}">avirontours.fr</a> avec votre mot de passe et votre identifiant: <strong>{{ userIdentifier }}</strong>.
                </p>

                <p style="margin-bottom: 0;">
                    Pour finaliser cette dernière, merci de procéder au paiement de votre inscription auprès d'un membre du bureau.<br>
                    Les moyens de paiements acceptés sont les suivants:
                </p>

                <ul style="margin-top: 0;">
                    <li>Virement bancaire<br>IBAN {{ APP_IBAN }} - BIC {{ APP_BIC }}</li>
                    <li>Chèque, avec possibilité de payer en 3 fois</li>
                    <li>Carte bancaire</li>
                    <li>Chèques vacances</li>
                    <li>Coupon sport</li>
                    <li>Pass'sport</li>
                </ul>

                <p>
                    Sportivement,<br/>
                    Aviron Tours Métropole
                </p>
            </columns>
        </row>
    </container>
{% endblock %}
