{% extends 'base.html.twig' %}

{% block title %}Modifier 1RM{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('workout_maximum_load_show') }}">1RM</a></li>
    <li class="breadcrumb-item active">Modifier</li>
{% endblock %}

{% block body %}
    <h1>Modifier 1RM</h1>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}

            <button class="btn btn-primary mt-3">Sauver</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
