<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png')}}">

        <title>{% block title %}Aviron Tours Métropole{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <style>
                body {
                    background: url('{{ preload(asset(random([
                        'build/images/cover1.webp',
                        'build/images/cover2.webp',
                        'build/images/cover3.webp',
                        'build/images/cover4.webp',
                        'build/images/cover5.webp',
                        'build/images/cover6.webp',
                        'build/images/cover7.webp',
                    ])), { as: 'image' }) }}') no-repeat center center fixed;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }

                .form-label-group {
                    position: relative;
                    margin-bottom: 1rem;
                }

                .form-label-group > input,
                .form-label-group > label {
                    height: 3.125rem;
                    padding: .75rem;
                }
                .form-label-group > label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    margin-bottom: 0; /* Override default `<label>` margin */
                    line-height: 1.5;
                    color: #495057;
                    pointer-events: none;
                    cursor: text; /* Match the input under the label */
                    border: 1px solid transparent;
                    border-radius: .25rem;
                    transition: all .1s ease-in-out;
                }
                .form-label-group input::-webkit-input-placeholder {
                    color: transparent;
                }
                .form-label-group input:-ms-input-placeholder {
                    color: transparent;
                }
                .form-label-group input::-ms-input-placeholder {
                    color: transparent;
                }
                .form-label-group input::-moz-placeholder {
                    color: transparent;
                }
                .form-label-group input::placeholder {
                    color: transparent;
                }
                .form-label-group input:not(:placeholder-shown) {
                    padding-top: 1.25rem;
                    padding-bottom: .25rem;
                }
                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    font-size: 12px;
                    color: #777;
                }
                /* Fallback for Edge
                -------------------------------------------------- */
                @supports (-ms-ime-align: auto) {
                    .form-label-group > label {
                        display: none;
                    }
                    .form-label-group input::-ms-input-placeholder {
                        color: #777;
                    }
                }
                /* Fallback for IE
                -------------------------------------------------- */
                @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                    .form-label-group > label {
                        display: none;
                    }
                    .form-label-group input:-ms-input-placeholder {
                        color: #777;
                    }
                }
            </style>

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="main-container fullscreen">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-7">

                        <div class="bg-white p-5 rounded" >
                            <div class="text-center mb-5">
                                <a href="{{ path('homepage') }}">
                                    <img src="{{ asset('build/images/logo_colored.svg') }}" width="200px"/>
                                </a>
                            </div>

                            {# List flashes messages #}
                            {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }} alert-dismissible d-print-none" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {{ message|trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
