<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Aviron Tours Métropole{% endblock %}</title>

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png')}}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?render=explicit"></script>
        {% endblock %}
    </head>

    <body
        class="min-vh-100"
        {{ stimulus_controller('app-menu', { 'autoOpen': appMenuAutoOpen ?? true })|stimulus_controller('account-menu') }}
    >
        <header>
            <nav id="navbar" class="navbar navbar-expand navbar-dark fixed-top bg-dark" aria-label="Navbar">
                <div class="container-fluid d-flex flex-row">
                    <a class="navbar-brand order-1 order-sm-0" href="{{ path('homepage') }}">
                        <img src="{{ asset('build/images/logo_white.svg') }}" height="50px" alt="Aviron Tours Métropole">
                    </a>

                    <button class="btn py-3 order-0 order-sm-1 align-self-start me-sm-auto" type="button" aria-controls="nav-app-menu" id="nav-app-menu-toggle" data-action="click->app-menu#toggle"></button>

                    <div class="order-4">
                        {% if app.user is not null %}
                            <button class="btn ms-auto me-3 py-3" type="button" aria-controls="nav-account-menu" id="nav-account-menu-toggle" data-action="click->account-menu#toggle"></button>
                        {% else %}
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">
                                        <span class="fas fa-sign-in-alt"></span>
                                        <span class="d-none d-md-inline">Se connecter</span>
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <div class="d-flex vh-100">
            <nav id="nav-app-menu" class="d-flex flex-column p-3 text-white bg-dark" aria-label="Sidebar">
                <ul class="nav flex-column">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ path('dashboard') }}">Tableau de bord</a>
                        </li>
                    {% endif %}

                    {% if (is_granted('ROLE_USER') and app.user.hasValidLicense()) or is_granted('ROLE_LOGBOOK_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link link-light" href="{{ path('logbook_entry_index') }}">Cahier de sorties</a>
                        </li>
                    {% endif %}

                    {% if (is_granted('ROLE_USER') and app.user.hasValidLicense()) or is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link link-light d-flex justify-content-between align-items-center" href="{{ path('training_index') }}">Carnet d'entrainements</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link link-light d-flex justify-content-between align-items-center" href="{{ path('workout_maximum_load_show') }}">1RM</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link text-light" href="https://www.helloasso.com/associations/aviron-tours-metropole">Réservations</a>
                    </li>

                    {% if is_granted('ROLE_MATERIAL_ADMIN') or is_granted('ROLE_SPORT_ADMIN') or is_granted('ROLE_USER_ADMIN') or is_granted('ROLE_SEASON_MODERATOR') %}
                        <li class="nav-item">
                            <a class="nav-link link-light" href="{{ path('admin_home') }}">Administration</a>
                        </li>
                    {% endif %}
                </ul>

                <hr class="mt-auto">

                <ul class="nav flex-column small">
                    <li class="nav-item">
                        <a class="nav-link link-secondary" href="{{ path('legal_notice') }}">Mentions légales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" href="{{ path('release_notes') }}">Aviron Tours - v{{ APP_VERSION }}</a>
                    </li>
                </ul>
            </nav>

            {% if app.user is not null %}
                <div id="nav-account-menu" class="d-flex flex-column p-3 text-white bg-dark vh-100">
                    <div class="mt-2 d-flex flex-column">
                        <img src="https://robohash.org/{{ app.user.firstName|slice(0, 1)|upper ~ app.user.lastName|slice(0, 1)|upper }}.png?set=set4" alt="Profile image" width="64" height="64" class="rounded-circle mx-auto">
                        <p class="mt-1 mx-auto">{{ app.user.fullName }}</p>
                    </div>

                    <hr>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ path('profile_show') }}">
                                <span class="far fa-user"></span>
                                Mon profil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ path('sport_profile_physiology') }}">
                                <span class="fas fa-running"></span>
                                Mon profil sportif
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="{{ path('app_logout') }}">
                                <span class="fas fa-sign-out-alt"></span> Se déconnecter
                            </a>
                        </li>
                        {% if is_granted('IS_IMPERSONATOR') %}
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="{{ path('user_index', {'_switch_user': '_exit'}) }}">Quitter l'impersonation</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            <main data-action="click->app-menu#main click->account-menu#main">
                {% block breadcrumb_block %}
                    <div class="d-flex bg-white shadow-sm" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-3 ps-3">
                            {% block breadcrumb %}
                                <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fas fa-home"></span> Accueil</a></li>
                            {% endblock %}
                        </ol>
                    </div>
                {% endblock %}

                <section class="mb-3 p-3">
                    {{ include('_flash_messages.html.twig') }}
                    {% block body %}{% endblock %}
                </section>
            </main>
        </div>
    </body>
</html>
