<!doctype html>
<html lang="fr" class="h-100" data-turbo="false">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="turbo-visit-control" content="reload">

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png')}}">

        <title>{% block title %}Aviron Tours Métropole{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <style>
                body {
                    background: url('{{ preload(asset(random([
                        'build/images/cover1.webp',
                        'build/images/cover2.webp',
                        'build/images/cover3.webp',
                        'build/images/cover4.webp',
                        'build/images/cover5.webp',
                        'build/images/cover6.webp',
                        'build/images/cover7.webp',
                    ])), { as: 'image' }) }}') no-repeat center center fixed;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="h-100 d-flex justify-content-center align-items-center">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="bg-white p-5 rounded" >
                    <div class="text-center mb-5">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('build/images/logo_colored.svg') }}" width="200px"/>
                        </a>
                    </div>

                    {# List flashes messages #}
                    {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible d-print-none" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
            </div>
    </body>
</html>
