<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png')}}">

        <title>{% block title %}Aviron Tours Métropole{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
    {% if is_granted('ROLE_LOGBOOK_USER') %}
        <div class="mt-3 ml-3">
            <img src="{{ asset('build/images/logo_colored.svg') }}" height="50px" alt="Aviron Tours Métropole">
        </div>
        <div class="layout">
    {% else %}
        <div class="layout layout-nav-side">
            <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img src="{{ asset('build/images/logo_white.svg') }}" height="50px" alt="Aviron Tours Métropole">
                </a>
                <div class="d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if app.user %}
                        <div class="d-block d-lg-none ml-2">
                             <div class="dropdown">
                                 <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                     <span class="avatar avatar-small mr-1">{{ app.user.firstName|slice(0, 1)|upper }}{{ app.user.lastName|slice(0, 1)|upper }}</span>
                                 </a>
                                 <div class="dropdown-menu dropdown-menu-right">
                                     <a class="dropdown-item" href="{{ path('profile_show') }}">Mon profil</a>
                                     <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                                     {% if is_granted('IS_IMPERSONATOR') %}
                                         <a class="dropdown-item text-danger" href="{{ path('user_index', {'_switch_user': '_exit'}) }}">Quitter l'impersonation</a>
                                     {% endif %}
                                 </div>
                             </div>
                        </div>
                    {% else %}
                        <div class="d-block d-lg-none ml-2">
                            <a class="btn btn-outline-light" href="{{ path('homepage') }}">
                                <span class="fas fa-sign-in-alt"></span> Se connecter
                            </a>
                        </div>
                    {% endif %}
                </div>

                <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
                    <ul class="navbar-nav d-lg-block">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        {% if is_granted('ROLE_LOGBOOK_USER') or (is_granted('ROLE_USER') and app.user.hasValidLicense()) or is_granted('ROLE_LOGBOOK_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logbook_entry_index') }}">Cahier de sorties</a>
                            </li>
                        {% endif %}

                        {% if (is_granted('ROLE_USER') and app.user.hasValidLicense()) or is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('training_index') }}">Carnet d'entrainements <span class="badge badge-success">New</span></a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_MATERIAL_ADMIN') or is_granted('ROLE_SPORT_ADMIN') or is_granted('ROLE_USER_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_homepage') }}">Administration</a>
                            </li>
                        {% endif %}
                    </ul>

                    <div class="d-none d-lg-block w-100">
                        <hr>

                        <span class="text-small text-muted">Liens rapides</span>
                        <ul class="nav nav-small flex-column mt-2">
                            <li class="nav-item">
                                <a href="{{ path('legal_notice') }}" class="nav-link">Mentions légales</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ asset('files/guide_atm_2020.pdf') }}" class="nav-link">Guide 2020</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="d-none d-lg-block">
                    {% if app.user %}
                        <div class="dropup">
                            <a class="text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="avatar avatar-small mr-1">{{ app.user.firstName|slice(0, 1)|upper }}{{ app.user.lastName|slice(0, 1)|upper }}</span>
                                {{ app.user.fullName }}
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('profile_show') }}">Mon profil</a>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    <a class="dropdown-item text-danger" href="{{ path('user_index', {'_switch_user': '_exit'}) }}">Quitter l'impersonation</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-outline-light mb-3" href="{{ path('homepage') }}">
                            <span class="fas fa-sign-in-alt"></span> Se connecter
                        </a>
                    {% endif %}
                    <div class="text-muted small mt-1 text-right">
                        Aviron Tours - <a class="text-muted" href="{{ path('release_notes') }}">v{{ APP_VERSION }}</a>
                    </div>
                </div>
            </div>
    {% endif %}

            <div class="main-container">
                {% if false == is_granted('ROLE_LOGBOOK_USER') %}
                    <div class="breadcrumb-bar navbar bg-white sticky-top">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {% block breadcrumb %}
                                    <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fas fa-home"></span> Accueil</a></li>
                                {% endblock %}
                            </ol>
                        </nav>
                    </div>
                {% endif %}

                <div class="container-fluid mt-3">
                    {# List flashes messages#}
                    {% for label, messages in app.flashes(['success', 'info', 'warning', 'danger']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible d-print-none" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
