{% extends 'admin/base.html.twig' %}

{% block title %}{{ group.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('group_index') }}">Gestion des groupes</a></li>
    <li class="breadcrumb-item active">{{ group.name }}</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>{{ group.name }}</h1>

        <div class="ms-auto align-self-center ">
            {% embed 'admin/group/_delete_form.html.twig' %}
                {% block buttons %}
                    <div class="btn-group-sm">
                        <a class="btn btn-outline-warning" href="{{ path('group_edit', {'id': group.id}) }}">
                            <span class="fas fa-pencil-alt"></span> Modifier
                        </a>

                        {{ parent() }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-header">
            Membres
        </div>
        <ul class="list-group list-group-flush">
            {% for member in group.members %}
                <li class="list-group-item">
                    <a href="{{ path('user_show', { 'id': member.id }) }}">{{ member.fullName }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
