{{ form_start(form) }}
    {{ form_row(form.trained_at) }}
    {{ form_row(form.sport) }}

    <div class="row">
        <div class="col">
            <div class="form-row">
                {{ form_errors(form.duration) }}
                <div class="col">
                    {{ form_row(form.duration.hours) }}
                </div>
                <span style="padding-top: 2.5em;">:</span>
                <div class="col">
                    {{ form_row(form.duration.minutes) }}
                </div>
            </div>
            {{ form_row(form.comment) }}
        </div>
        <div class="col">
            {{ form_row(form.distance) }}
            {{ form_row(form.feeling) }}
        </div>
    </div>

    {{ form_widget(form) }}

    <button class="btn btn-primary">{{ button_label|default('Sauver') }}</button>
{{ form_end(form) }}
