{{ form_start(form) }}
    {{ form_row(form.trainedAt) }}
    {{ form_row(form.sport) }}
    {{ form_row(form.type) }}
    {{ form_row(form.distance) }}

    <div class="mb-3">
        {{ form.duration.vars.label }}
        <div id="{{ form.duration.vars.id }}" class="row">
            {{ form_errors(form.duration) }}
            <div class="col">{{ form_row(form.duration.hours) }}</div>
            <div class="col">{{ form_row(form.duration.minutes) }}</div>
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.feeling) }}
        <div class="d-flex align-items-center">
            <span class="far fa-frown fa-2x text-danger"></span>

            {{ form_widget(form.feeling, { 'attr': { 'class': 'mx-3' } }) }}

            <span class="far fa-smile fa-2x text-success"></span>
        </div>
        {{ form_errors(form.feeling) }}
    </div>

    {{ form_row(form.comment) }}

    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button_label|default('Sauver') }}</button>
{{ form_end(form) }}
