{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.sport) }}
    {{ form_row(form.trainedAt) }}

    <div class="row">
        <div class="col">
            <fieldset class="mb-3">
                <legend class="col-form-label required pt-0">{{ form.duration.vars.label }}</legend>
                {{ form_errors(form.duration) }}
                <div id="{{ form.duration.vars.id }}" class="mt-n1">
                    <div class="row">
                        <div class="col">
                            {{ form_row(form.duration.hours, { attr: { 'inputmode': 'numeric', 'placeholder': 'h' } }) }}
                        </div>
                        <div class="col">
                            {{ form_row(form.duration.minutes, { attr: { 'inputmode': 'numeric', 'placeholder': 'm' } }) }}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col">
            {{ form_row(form.distance, { attr: { 'inputmode': 'decimal' } }) }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.feeling) }}
        </div>

        <div class="col">
            {{ form_row(form.ratedPerceivedExertion) }}
        </div>
    </div>

    {{ form_row(form.comment) }}

    {{ form_rest(form) }}

    <button class="btn btn-primary">{{ button_label|default('Sauver') }}</button>
{{ form_end(form) }}
