{% block _training_trainingPhases_entry_widget %}
    <div class="card">
        <div class="card-body">
            <div {{ block('widget_container_attributes') }}>
                <div class="row">
                    <div class="col-12 col-md-4">
                        {{ form_row(form.children.intensity) }}
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-row">
                            {{ form_errors(form.duration) }}
                            <div class="col">
                                {{ form_row(form.duration.hours) }}
                            </div>
                            <span style="padding-top: 2.5em;">:</span>
                            <div class="col">
                                {{ form_row(form.duration.minutes) }}
                            </div>
                            <span style="padding-top: 2.5em;">:</span>
                            <div class="col">
                                {{ form_row(form.duration.seconds) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        {{ form_row(form.children.distance) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {{ form_row(form.children.split) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.children.spm) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.children.name) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
