 <div class="card border-0 shadow">
    <div class="card-body">
        <div class="d-flex align-items-center fs-2">
            <div class="mx-3">
                <span class="far fa-clock text-info"></span> {{ training.formattedDuration }}
            </div>
            <div class="mx-3">
                <span class="fas fa-ruler text-info"></span> {{ training.distance ? training.distance|format_number : '-' }} m
            </div>
            <div class="mx-3">
                <span class="fas fa-spa text-info"></span>
                    <div class="progress">
                        <div class="progress-bar {{ training.feeling < 0.4 ? 'bg-danger' : 'bg-success' }}" role="progressbar" style="width: {{ training.feeling * 100 }}%" aria-valuenow="{{ training.feeling * 100 }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
            </div>
        </div>
    </div>
</div>

{% if training.comment is not null %}
    <div class="card border-0 shadow mt-3">
        <div class="card-body">
            <span class="h4">Commentaire</span>
            <blockquote class="blockquote">
                <p class="mb-0">{{ training.comment|nl2br }}</p>
            </blockquote>
        </div>
    </div>
{% endif %}

{% if not training.trainingPhases.empty %}
     <div class="card border-0 shadow mt-3">
         <turbo-frame id="training-phases" src="{{ path('training_show_phase', { training_id: training.id, id:training.trainingPhases.first.id }) }}">
         </turbo-frame>
     </div>
{% endif %}
