{% extends 'base.html.twig' %}

{% block title %}Modifier une séance{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('training_index') }}">Carnet d'entraînements</a></li>
    <li class="breadcrumb-item"><a href="{{ path('training_show', {'id': training.id}) }}">{{ training.trainedAt|date('d/m/Y - H:i') }} - {{ training.sport.label }}</a></li>
    <li class="breadcrumb-item active">Modifier</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Modifier un entraînement</h1>

        <div class="ms-auto align-self-center">
            {{ include('training/_delete_form.html.twig') }}
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ include('training/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
{% endblock %}
