{% extends 'base.html.twig' %}

{% block title %}Carnet d'entraînements{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Carnet d'entraînements</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Carnet d'entraînements</h1>

        <div class="ms-auto align-self-center">
            <div class="btn-group" role="group">
                <a href="{{ path('training_new') }}" class="btn btn-outline-primary">
                    <span class="fas fa-plus"></span> Ajouter un entraînement
                </a>

                <a href="{{ path('training_import_concept_logbook') }}" class="btn btn-outline-secondary {%- if app.user.concept2RefreshToken is null %} disabled{% endif %}">
                    <span class="fa fa-sync"></span> Sync ErgData
                </a>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Sport</th>
                        <th>Type d'entraînement</th>
                        <th>Durée</th>
                        <th>Distance</th>
                        <th>Commentaire</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for training in trainings %}
                        <tr>
                            <td>{{ training.trainedAt|date('d/m/Y - H:i') }}</td>
                            <td>
                                <a href="{{ path('training_show', {'id': training.id}) }}">{{ training.sport.label }}</a>
                            </td>
                            <td>{{ training.type.label }}</td>
                            <td>{{ training.formattedDuration }}</td>
                            <td>{{ training.distance ? training.distance|format_number : '-' }} m</td>
                            <td>{{ training.comment|u.truncate(25, '...') }}</td>
                            <td class="text-end">
                                <a class="btn btn-outline-warning btn-sm rounded-pill"
                                   href="{{ path('training_edit', {'id': training.id}) }}">
                                    <span class="fas fa-pencil-alt"></span> <span class="d-none d-lg-inline">Modifier</span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Pas d'entraînements</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if trainings|length < trainings.totalItemCount %}
                    {{ knp_pagination_render(trainings) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
