{% extends 'base.html.twig' %}

{% block title %}Mes entraînements{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item active">Mes entraînements</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Mes entraînements</h1>

        <div class="ms-auto align-self-center">
            <div class="btn-group" role="group">
                <a
                    href="{{ path('training_new') }}"
                    class="btn btn-outline-primary"
                >
                    <span class="fas fa-plus"></span> Ajouter
                </a>

                <div class="btn-group" role="group">
                    <button
                        type="button"
                        class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    ></button>

                    <ul class="dropdown-menu">
                        <li>
                            <a
                                href="{{ path('training_import_concept_logbook') }}"
                                class="dropdown-item {%- if app.user.concept2RefreshToken is null %} disabled{% endif %}"
                            >
                                <span class="fa fa-sync"></span> Sync ErgData
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-0 shadow mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <a
                    href="{{ path('training_index', { 'endAt': endAt.modify('-1 week')|date('Y-m-d') }) }}"
                    class="btn btn-sm btn-outline-secondary"
                >
                    <<
                </a>

                <span class="mx-5 text-center">
                    Du {{ startAt|date('d/m/Y') }} au {{ endAt|date('d/m/Y') }}
                </span>

                <a
                    href="{{ path('training_index', { 'endAt': endAt.modify('+1 day')|date('Y-m-d') }) }}"
                    class="btn btn-sm btn-outline-secondary"
                >
                    >>
                </a>
            </div>

            <div id="training-list" class="d-flex flex-column-reverse">
                {% for week in weeks %}
                    <div class="mb-3">
                       <span class="fs-5">
                             Semaine {{ week|date('W - Y') }}
                       </span>

                        {% set weekNumber = week|date('W') %}
                        {% for training in trainings|filter(t => weekNumber == t.trainedAt|date('W')) %}
                            <div
                                id="training-{{ training.id }}"
                                class="row g-0 border border-secondary-subtle rounded mb-1 position-relative"
                            >
                                <div class="col-2 col-md-1 text-white d-flex justify-content-center align-items-center" style="background: {{ training.sport.color }}">
                                    <twig:ux:icon name="{{ training.sport.icon }}" width="32" height="32" />
                                </div>
                                <div class="col p-1">
                                    <div class="d-flex align-items-center">
                                        <a
                                            href="{{ path('training_show', { id: training.id }) }}"
                                            class="link-dark text-decoration-none stretched-link"
                                        >
                                            {{ training.sport.label }}
                                        </a>

                                        <span class="ms-auto text-secondary small">
                                            {{ training.trainedAt|format_datetime(pattern: 'cccc dd MMM')|capitalize }}
                                        </span>
                                    </div>


                                    <div class="d-flex align-items-center text-secondary small">
                                        <div>
                                            <span class="far fa-clock"></span> {{ training.formattedDuration }}
                                        </div>

                                        <div class="ms-3">
                                            <span class="fas fa-ruler"></span> {{ training.distance ? training.distance|format_number : '-' }} m
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div>
                                Pas d'entraînement
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
