{{ form_start(form) }}
    {{ form_row(form.email) }}
    {% if form.plainPassword is defined%}
        {{ form_row(form.plainPassword) }}
    {% endif %}
    {% if form.roles is defined%}
        {{ form_row(form.roles) }}
    {% endif %}
    {{ form_row(form.member) }}

    <button class="btn btn-primary">{{ button_label|default('Sauver') }}</button>
{{ form_end(form) }}
