{% extends 'base.html.twig' %}

{% block title %}Finir une sortie{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="breadcrumb-item"><a href="{{ path('logbook_entry_index') }}">Cahier de sorties</a></li>
    <li class="breadcrumb-item text-muted">{{ logbook_entry.date|date('d/m/Y')}} - {{ logbook_entry.startAt|date('H:m')}} - {{ logbook_entry.shell.fullName }}</li>
    <li class="breadcrumb-item active">Finir une sortie</li>
{% endblock %}

{% block body %}
    <h1>Finir une sortie</h1>

    <div class="card border-0 shadow">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_row(form.endAt) }}

                {{ form_row(form.coveredDistance) }}

                {{ form_row(form.shellDamages) }}

                <button class="btn btn-primary">Terminer la sortie</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
