{% extends 'base.html.twig' %}

{% block title %}Gestion des sorties{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}"><span class="fas fa-home"></span> Accueil</a></li>
    <li class="breadcrumb-item active">Cahier de sorties</li>
{% endblock %}

{% block body %}
    <div class="d-flex">
        <h1>Gestion des sorties</h1>

        <a href="{{ path('logbook_entry_new') }}" class="btn btn-outline-primary btn-sm ml-auto align-self-center">
            <span class="fas fa-plus"></span> Ajouter une sortie
        </a>
    </div>

    <div class="mb-3">
        <a href="{{ path('logbook_entry_statistics') }}" class="btn btn-sm btn-outline-secondary rounded-pill">
            <span class="far fa-chart-bar"></span> Voir les statistiques
        </a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Bâteau</th>
                <th>Equipage</th>
                <th>Date</th>
                <th>Départ</th>
                <th>Retour</th>
                <th>Distance</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for logbook_entry in logbook_entries %}
                <tr>
                    <td>{{ logbook_entry.shell.fullName }}</td>
                    <td>
                        {% if logbook_entry.nonUserCrewMembers is empty %}
                            {{ logbook_entry.crewMembers|join(', ', ' et ') }}
                        {% elseif logbook_entry.crewMembers is empty %}
                            {%- for member in logbook_entry.nonUserCrewMembers -%}
                                {% if not loop.first and logbook_entry.crewMembers is empty %}
                                    {%- if loop.last %} et {% else %}, {% endif -%}
                                {% endif %}
                                <b title="Non utilisateur">{{- member -}}</b>
                            {%- endfor -%}
                        {% else %}
                            {{- logbook_entry.crewMembers|join(', ') -}}

                            {%- for member in logbook_entry.nonUserCrewMembers -%}
                                {%- if loop.last %} et {% else %}, {% endif -%}
                                <b title="Non utilisateur">{{- member -}}</b>
                            {%- endfor -%}
                        {% endif %}
                    </td>
                    <td>{{ logbook_entry.date|date('d/m/Y') }}</td>
                    <td>{{ logbook_entry.startAt|date('H:i') }}</td>
                    <td>{{ logbook_entry.endAt ? logbook_entry.endAt|date('H:i') }}</td>
                    <td>
                        {% if logbook_entry.coveredDistance %}
                            {{ logbook_entry.coveredDistance }} km
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if logbook_entry.endAt is null %}
                            <a class="btn btn-success btn-sm rounded-pill"
                               href="{{ path('logbook_entry_finish', { 'id': logbook_entry.id }) }}">
                                <span class="fas fa-flag-checkered"></span> <span class="d-none d-lg-inline">Finir la sortie</span>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-warning btn-sm rounded-pill"
                               href="{{ path('logbook_entry_edit', {'id': logbook_entry.id}) }}">
                                <span class="fas fa-pencil-alt"></span> <span class="d-none d-lg-inline">Modifier</span>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Pas de sortie</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if logbook_entries|length < logbook_entries.totalItemCount %}
            {{ knp_pagination_render(logbook_entries) }}
        {% endif %}
    </div>
{% endblock %}
